* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 60vw;
    margin: auto;
    padding-top: 30vh;
}

img {
    display: block;
    margin: auto;
    height: 120px;
    width: 120px;
}

p {
    text-align: center;
    margin: 2em 0;
}

article {
    text-align: center;
    margin-bottom: 2em;
}

button {
    display: block;
    margin: auto;
    padding: .5em;
}